<a href="https://events.humanitix.com/sydney-electronic-music-open-mic-night" target="_blank" rel="noopener">TICKETS&nbsp;<img src="/assets/img/icons/extlink.png" width="15" height="15" alt="opens in new tab"></a>
<a href="https://electronicmusicopenmic.com" target="_blank" rel="noopener">EMOM GLOBAL&nbsp;<img src="/assets/img/icons/extlink.png" width="15" height="15" alt="opens in new tab"></a>