<div class="page_footer" id="page_footer">
  <p>&copy; 2025 {{ siteName }}<br>
    <a href="https://www.youtube.com/@emom.sydney"><img src="/assets/img/icon_youtube.png" width="25" height="25"></a>&nbsp;
    <a href="https://www.instagram.com/emom.sydney"><img src="/assets/img/icon_instagram.png" width="25" height="25"></a>&nbsp;
    <a href="https://www.facebook.com/EMOMsydney"><img src="/assets/img/icon_facebook.png" width="25" height="25"></a>
  </p>
</div>
