<div class="page_sidebar">
  <nav id="sidebar-nav">
    {% include "nav_main.njk" %}
    ----<br>
    {% include "nav_involved.njk" %}
    ----<br>
    {% include "nav_external.njk" %}
  </nav>
</div>