<div class="page_sidebar">
  <nav>
    <a href="/index.html">HOME</a>
    <a href="/about/index.html">ABOUT</a>
    <a href="/gallery/index.html">GALLERY</a>
    <a href="/blog/index.html">BLOG</a>
    <a href="/contact/index.html">CONTACT</a>
    ----<br>
    <a href="/subscribe/index.html">SUBSCRIBE</a>
    <a href="/perform/index.html">PERFORM</a>
    ----<br>
    <a href="https://events.humanitix.com/sydney-electronic-music-open-mic-night">TICKETS</a>
    <a href="https://electronicmusicopenmic.com">EMOM GLOBAL</a>
  </nav>
</div>
