<div class="page_sidebar">
  <nav>
    <a href="/index.html">HOME</a>
    <a href="/about/index.html">ABOUT</a>
    <a href="/gallery/index.html">GALLERY</a>
    <a href="/artists/index.html">ARTISTS</a>
    <a href="/blog/index.html">BLOG</a>
    <a href="/contact/index.html">CONTACT</a>
    ----<br>
    <a href="/subscribe/index.html">SUBSCRIBE</a>
    <a href="/perform/index.html">PERFORM</a>
    <a href="/volunteer/index.html">VOLUNTEER</a>
    ----<br>
    <a href="https://events.humanitix.com/sydney-electronic-music-open-mic-night" target="_blank" rel="noopener">TICKETS&nbsp;<img src="/assets/img/icons/extlink.png" width="15" height="15"></a>
    <a href="https://electronicmusicopenmic.com" target="_blank" rel="noopener">EMOM GLOBAL&nbsp;<img src="/assets/img/icons/extlink.png" width="15" height="15"></a>
  </nav>
</div>
