<a href="https://www.youtube.com/@emom.sydney" target="_blank" aria-label="YouTube"><img src="/assets/img/icons/youtube_light.png" width="30" height="30" alt="YouTube"></a>
<a href="https://www.instagram.com/emom.sydney" target="_blank" aria-label="Instagram"><img src="/assets/img/icons/instagram_light.png" width="25" height="25" alt="Instagram"></a>
<a href="https://www.facebook.com/EMOMsydney" target="_blank" aria-label="Facebook"><img src="/assets/img/icons/facebook_light.png" width="25" height="25" alt="Facebook"></a>