---
layout: "main.njk"
pageTitle: "Artists"
description: "Discover artists who have performed at sydney.emom. Browse our lineup of electronic music creators from Sydney and beyond."
---

{% set sorted = emom.artistPagesSorted %}
{% set currentYear = emom.currentYear %}

{% if sorted and sorted.length %}
<h3>{{ currentYear }}</h3>
<ul class="artist-list">
{% for artistPage in sorted %}
{% if artistPage.hasCurrentYearPerformance %}<li><a href="/artists/{{ artistPage.slug }}/index.html">{{ artistPage.artist.stageName }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h3>Previous Years</h3>
<ul class="artist-list">
{% for artistPage in sorted %}
{% if artistPage.hasPastPerformance and not artistPage.hasCurrentYearPerformance %}<li><a href="/artists/{{ artistPage.slug }}/index.html">{{ artistPage.artist.stageName }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% else %}
<p>No artists found.</p>
{% endif %}
