body {
  background-color: #1b1b1b;
  color: #DDD;
  font-family: "Lucida Console", "Courier New", monospace;
  background-image: var(--bg-image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 200ms ease-in-out;
  
  /* Lightbox thumbnail configuration */
  --lightbox-thumbnail-width: 150px;
  --lightbox-columns: 4;
  --lightbox-thumbnail-height: 125px;
}

.page_body {
  margin: 0;
  padding: 20px;
  flex: 1;
  max-width: 700px;
  color: #333;
  background: #FFF;
  border-radius: 12px;
/*  box-shadow: 0 2px 8px rgba(210, 12, 12, 20); */
}

.main_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
}  

.page_header {
  width: 100%;
  min-height: 40px;
  margin-bottom: 20px;
}

.page_header a {
  color: #1b1b1b;
  text-decoration: none;
}

.page_header a:hover {
  text-decoration: underline;
}

.page_sidebar {
  width: 220px;
  margin: 0 10px 10px 10px;
  padding: 10px 10px;
  background: #CCC;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}  

.page_sidebar nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}  

.page_sidebar a {
  color: #222;
  text-decoration: none;
  font-weight: bold;
  margin: 6px 0;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background 0.2s;
}  
.page_sidebar a:hover {
  background: #EEE;
  text-decoration: underline;
}  

.page_footer {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.galleryList {
  max-width: 800px;
  margin: 0 auto;
  list-style: none;
}  

form label {
  display: block;
  margin-bottom: 10px;
}
  
form input,
form textarea {
  width: calc(100% - 20px); /* Account for padding */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  background: #fff;
}
  
form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
 
form button:hover {
  background-color: #0069d9;
}

.AINotice p {
  font-size: 0.5em;
  color: #666;
  margin-top: 10px;
  width: 50%;
  margin-left: 25%;
  text-align: justify;
}

.artist-thumb {
  float: right;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0px;
}


.sp-lightbox-caption-container {
  background-color: #FFF;
  color: #333;
  margin: 0;
  padding: 15px 0;
  font-weight: bold;
}

.sp-lightbox-thumbnail-caption {
  font-size: 0.75em;
}

.sp-lightbox-close {
  background-color: black;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.sp-lightbox-close:hover,
.sp-lightbox-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.sp-lightbox-column {
  background-color: #FFF;  
  display: flex;
  flex-direction: column;
  height: var(--lightbox-thumbnail-height);
  justify-content: space-evenly;
  margin: 0 0.5vw 2vw 0.5vw;
  width: var(--lightbox-thumbnail-width);
  text-align: center;
}
.sp-lightbox-container {
   box-sizing: border-box;
   height: 100%;
   max-width: 100%;
}

.sp-lightbox-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sp-lightbox-modal {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
}

.sp-lightbox-modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 800px;
}

.sp-lightbox-numbertext {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left:0;
}

.sp-lightbox-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sp-lightbox-slide-img {
  margin-bottom: -4px;
  max-height: 600px;
  max-width:100%; 
  object-fit: cover;
}

.sp-lightbox-slides {
  background-color: black;
  display: none;
  text-align: center;
}

.sp-lightbox-thumbnail {
  cursor: pointer;
  margin-bottom: -4px;
  max-height: 85%;
  max-width: 100%;
  object-fit: cover;
}

#sp-lightbox-prev,
#sp-lightbox-next {
  background-color: black;
  border:none;
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: -50px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
 }

 #sp-lightbox-next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }

 #sp-lightbox-prev:hover,
 #sp-lightbox-next:hover {
   background-color: rgba(0, 0, 0, 0.8);
}