---
layout: "main.njk"
---
<h2>About EMOM</h2>
<p>EMOM is an inclusive and dynamic event that provides a stage for electronic music creators of all levels. Whether you're an established artist or a bedroom experimentalist, EMOM welcomes you to share your ideas and music in a supportive and engaging environment.</p>

<p>The event aims to foster a sense of community among electronic music makers and enthusiasts, encouraging collaboration and creativity. Performers each have a 15 minute slot in which they can present music, talk about production techniques, demonstrate a favourite piece of gear... whatever they think might be interesting to a like-minded audience. The only official rule of EMOM is “no guitars” but at emom.sydney we’re flexible about that if your act sounds electronic and just happens to involve an ‘electrified’ string instrument! :)</p>

<h3>What to Expect:</h3>
<ul>
	<li><strong>Diverse Performances:</strong> Experience a wide range of electronic music genres, from ambient and techno to experimental and synth-pop. We're also open to 'TED talk' style presentations provided they're interesting to a broader non-technical audience.</li>
	<li><strong>Open Slots:</strong> To help us with planning, performers can register interest in advance using this form. However, all perfomer/presenters must be at the venue on the night at 6pm sharp to be registered officially on the lineup.</li>
	<li><strong>Community Vibes:</strong> Meet fellow electronic music enthusiasts, network with other artists, and enjoy a night of sounds and socialising.</li>
	<li><strong>Prizes!</strong> (subject to availability ;)</li>
</ul>

<h3>Venue and Participation:</h3>
<p>Finding the right venue is crucial for the success of EMOM nights. We are thrilled to partner with Mothership, an artist-run space in Marrickville well known for its support of new and emerging artists. Mothership’s General Manager Frank G.C. said “Mothership has long been a home for Sydney's underground dance scene & emerging electronic music artists, and EMOM presents us with a unique opportunity to showcase this talent and build the local community here in Marrickville & Sydney.”</p>

<h3>Join Us:</h3>
<p>Whether you're a seasoned performer, just starting out, or simply a fan of live electronic music, we invite you to join us for the return of EMOM in Sydney. We look forward to seeing you there!</p>