---
layout: "main.njk"
---

    <h2>Contact us</h2>

You can contact us by email at <a href="emom.sydney@gmail.com">emom.sydney@gmail.com</a> or via DM at any of our social media presences: 
<a href="https://www.youtube.com/@emom.sydney">YouTube</a>, <a href="https://www.instagram.com/emom.sydney">Instagram, </a> 
    <a href="https://www.facebook.com/EMOMsydney">Facebook</a>. Please allow time for a human to read and respond ;) 
</p>
<!--    
    <form id="web-form">
      <input type="hidden" id="formtype" name="formtype" value="contact">
      
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject" value="I have a question...">

      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="5" required></textarea>

      <button type="submit">Submit</button>
    </form>
-->
  </div>
  <script src="/assets/scripts/process_forms.js"></script>
