---
layout: "main.njk"
pageTitle: "Home"
---

<h2>Welcome</h2>
<p>
    Upcoming events: May 14 &amp; June 11. Get your <a href="https://events.humanitix.com/sydney-electronic-music-open-mic-night/tickets"  target="_blank" rel="noopener">tickets here!</a>
</p>
<hr>
<p>
    The Sydney Electronic Music Open Mic (EMOM) is a monthly event showcasing local electronic music talent in an open
    mic format. Whether you're a seasoned performer or just starting out, EMOM provides a supportive platform to share
    your music with an enthusiastic audience.
</p>
<p>
    All events are
    <a href="https://www.youtube.com/@emom.sydney" target="_blank">recorded for</a> and
    <a href="https://www.youtube.com/@emom.sydney/streams" target="_blank">live-streamed on
        YouTube&nbsp;<img src="/assets/img/icons/extlink.png" width="15" height="15" alt="opens in new tab" /></a>.
</p>
<hr>
<h3>Latest Site News:</h3>
<ul style="list-style-type: '-'">
    <li>
        10/4/26 Added a <a href="/merch">Merch Survey</a> - we're investigating merch options, please let us know what you'd like!
    </li>
    <li>
        23/3/26 We have a <a href="/crew">new section</a> for our volunteer crew!
    </li>
    <li>
        19/3/26 Performer registration is temporarily closed while we roll out a New &amp; Proper System
    </li>
</ul>
