---
layout: "main.njk"
pageTitle: "Home"
description: "Sydney's monthly open mic night for electronic music creators. Join us at Mothership in Marrickville for live performances, community vibes, and creative collaboration."
---

<h2>Welcome</h2>
<p>
    Upcoming events: Open Mics October 8 and November 12, with details of our HUGE EOYMOM on 12/12 still to be announced.
</p>
<p>
    Meanwhile, Big Beats 2 returns to Hopsters on October 10! <a href="https://tickets.wearecoral.org/e/big-beats-in-a-small-bar-2" target="_blank" rel="noopener">Tickets are here</a>.
</p>
<p><a href="/calendar.ics">Subscribe to the EMOM calendar</a> for upcoming and past event dates, details, livestream times, and gallery links.</p>
<hr>
<p>
    The Sydney Electronic Music Open Mic (EMOM) is a monthly event showcasing local electronic music talent in an open
    mic format. Whether you're a seasoned performer or just starting out, EMOM provides a supportive platform to share
    your music with an enthusiastic audience.
</p>
<p>
    All events are
    <a href="https://www.youtube.com/@emom.sydney" target="_blank">recorded for</a> and
    <a href="https://www.youtube.com/@emom.sydney/streams" target="_blank">live-streamed on
        YouTube&nbsp;<img src="/assets/img/icons/extlink.png" width="15" height="15" alt="opens in new tab" /></a>.
</p>
<hr>
<h3>Latest Site News:</h3>
<ul>
    <li>
        7/9/26 We're gradually moving over to <a href="https://tickets.wearecoral.org/e/emom-sydney">Coral</a> as our ticketing partner. 
        Coral is a startup based in Wollongong with the specific aim of supporting musicians through a Patreon-style model, so we think they're a great fit for us.
    </li>
    <li>
        24/8/26 We have a calendar! Subscribe to https://sydney.emom.me/calendar.ics in your favourite calendar app.
    </li>
    <li>
        6/7/26 Fixed a bug that was affecting some people trying to register to perform. More updates to The Form coming soon.
    </li>
    <li>
        22/4/26 <a href="/perform/index.html">Performer registration</a> is open again, woohoo!</br>
        Plus the site is looking waay better on mobile - thanks @Elton!
    </li>
    <li>
        20/4/26 Finally fixed the <a href="/subscribe/index.html">newsletter subscription</a> form.
    </li>
    <li>
        17/4/26 Added YouTube video embeds on event gallery pages
    </li>
    <li>
        10/4/26 Added a <a href="/merch/index.html">Merch Survey</a> - we're investigating merch options, please let us know what you'd like!
    </li>
    <li>
        23/3/26 We have a <a href="/crew/index.html">new section</a> for our volunteer crew!
    </li>
    <li>
        19/3/26 Performer registration is temporarily closed while we roll out a New &amp; Proper System
    </li>
</ul>
