---
layout: "main.njk"
---

<h2>Welcome</h2>
<p>The Sydney Electronic Music Open Mic (EMOM) is a monthly event showcasing local electronic music talent in an open mic format. Whether you're a seasoned performer or just starting out, EMOM provides a supportive platform to share your music with an enthusiastic audience.</p>
<hr>
<p><b>Submissions for November are now closed</b>, with 6 of 7 available slots now filled. To claim the last slot, just come along on the night and ask for Stewart - first act to show up after 6pm gets the spot!</p>
<hr>
<p>Please bear with as we build this site to be the central point of contact for all things EMOM in Sydney. Our 90s style gif is an important part of the development process, of course!
<br><br>
<p align="center"><a href="/"><img src="/assets/img/uc.gif" align="center" width="200" height="150"></a></p>
<br><br>