---
layout: "main.njk"
pageTitle: "Performer Registration"
---
<h2>Performer Registration</h2>
<p>If you wish to play at our event, you just need to show up on the night. That's what "open mic" means after all :)</p>
<p>Having said that, we realise it's a bit different when you've got a boot load of gear to wrangle, so you can pre-register your intention to play by filling out this form.</p>

{% if performerCount.count < performerCount.maxSubmissions %}
<p>Currently {{ performerCount.count }} of {{ performerCount.maxSubmissions }} pre-registration slots are taken.</p>
<form id="web-form">
      <input type="hidden" id="formtype" name="formtype" value="preregistration">

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="mobile">Mobile:</label>
      <input type="text" id="mobile" name="mobile" required>

      <label for="message">Brief description of your set:</label>
      <textarea id="message" name="message" rows="5" required></textarea>

      <label for="url">Your preferred URL (social media, bandcamp, etc):</label>
      <textarea id="url" name="url" rows="1" required></textarea>
      
      <button type="submit">Submit</button> 
</form>
<script src="/assets/scripts/process_forms.js"></script>
{% else %}
<div class="notice">
    <p>We apologize, but we have reached our maximum capacity of {{ performerCount.maxSubmissions }} pre-registrations for this event.</p>
    <p>You are still welcome to come and perform on the night - that's what open mic is all about! Just be aware that the pre-registered performers will get priority in the running order.</p>
</div>
{% endif %}