---
layout: "main.njk"
---

<h2>Subscribe to our mailing list</h2>
<p>We have no reason to share your email address with anyone else, so we won't!</p>

<form id="web-form">
    <input type="hidden" id="formtype" name="formtype" value="subscribe">

    <label for="name">Name (optional):</label>
    <input type="text" id="name" name="name">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <input type="hidden" id="subscribe" name="subscribe" value="subscribe-requested">

    <button type="submit">Submit</button>
</form>
<p>NB: this is not (yet) an automated system and you will not receive a confirmation email, but trust us you will be added to The Spreadsheet and included in the next mailout.</p>
<script src="/assets/scripts/process_forms.js"></script>