---
layout: "main.njk"
---

<h2>Subscribe to our mailing list</h2>

<p>
  Subscribe to receive EMOM event announcements and related updates.
</p>
<p>
  We'll email you a confirmation link. Your subscription is only activated after you open that link.
</p>
<p>
  <b>NB: We are having some issues</b> with Apple email addresses (@icloud, @mac, @me) not receiving our emails and are working to rectify. Please use another account if possible, or <a href="/contact">contact us directly</a> thanks!
</p>

<form id="newsletter-subscribe-form">
  <label for="newsletter-email">Email</label>
  <input type="email" id="newsletter-email" name="email" required>

  <label for="newsletter-first-name">First name (optional)</label>
  <input type="text" id="newsletter-first-name" name="first_name">

  <label for="newsletter-last-name">Last name (optional)</label>
  <input type="text" id="newsletter-last-name" name="last_name">

  <button type="submit">Send confirmation link</button>
</form>

<script src="/assets/scripts/newsletter_subscribe.js"></script>
