---
layout: "main.njk"
---
<h2>Volunteer Registration</h2>
<p>If you're interested in helping out, <a href="/contact/index.html">we'd love to hear from you!</a> We want to assemble a team of volunteers that can support all aspects of the night to make it run smoothly, and have enough people that no single person gets stuck with any particular tasks.</p>
<p>Some of the roles that we could use a hand with are:</p>
<ul>
  <li> <b>MC:</b> Our regular MC Olly does an <i>awesome</i> job but we'd like to be able to give him a break from time to time. If you've got enthusiasm and personality and enjoy holding the mic.. get in touch.</li>
  <li> <b>Stage manager:</b> Help organise the acts to make the changeovers as smooth as possible.</li>
  <li> <b>Lighting:</b> If you're an LD with a bit of spare time, come have a play with Mothership's system while enjoying the good vibes!<br>(Bonus if you have some spare fixtures you'd like to set up and show off.. <i>hint:</i> lasers look brilliant in the space ;)</li>
  <li> <b>VJ:</b> If you're a live video type person, bring your kit and enjoy riffing off the different styles of music presented. We'll provide the projector.</li>
  <li> <b>Sound:</b> Critical to the success of the whole night. If you know your dBs from your DIs, get in touch.</li>
  <li> <b>Video:</b> Mike & Pingo have been doing a great job capturing extra footage on their DJI cams, but if you can help out so they can have a night off that would be great.</li>
  <li> <b>Live Stream:</b> If you know your way around OBS, why not come and direct the live stream for us.</li>
  <li> <b>Door Bitch:</b> Someone to hold the door open for our guests and guide them in with wit and charm! (and scan their Humanitix)</li>
  <li> <b>Web site:</b> Last but by very no means least, we're using the <a href="https://11ty.dev">11ty</a> framework with static hosting on S3 and working toward a full CI/CD pipeline out of Github - if you know what any of that means and would like to help, let us know your Github ID and we'll add you to the repo!</li>
</ul>

<p>You'll get to work with a great bunch of folk with one purpose in mind - to make all the acts appearing on the night feel welcomed, and look and sound their very best. 