---
layout: "main.njk"
pageTitle: "Merch"
---

<p>We have merch! Limited edition t-shirts in two designs and four colours as illustrated below. Available from June IN PERSON only at our events.</p>

<img src="/assets/img/merch/t-comp.jpg">