---
layout: "main.njk"
pageTitle: "Merch Thanks"
---

<p>Thanks for registering your interest in EMOM merch.</p>

<p>We will get in touch when the items are available and the store is live.</p>

<p><a href="/merch/index.html">&lt;&lt; Back to merch</a></p>
